@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

/* For custom focus styles on the SVG map */
.continent:focus {
  outline: 3px solid #38bdf8;
  outline-offset: 2px;
}
